@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilização da scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #98cb98;
  border: 2px solid #0f380f;
}

::-webkit-scrollbar-thumb {
  background: #306230;
  border: 2px solid #0f380f;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f380f;
}

body {
  @apply antialiased;
  font-family: system-ui, -apple-system, sans-serif;
}
